@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #121331;
  box-shadow: inset 20px 20px 60px #0f102a, inset -20px -20px 60px #151638;
}

::-webkit-scrollbar-thumb {
  background-color: #008484;
  background-image: linear-gradient(180deg, #008484 0%, #005382 100%);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0093e9;
  background-image: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%);
}

::selection {
  color: cyan;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #085467;
  background-image: linear-gradient(
    180deg,
    #085467 0%,
    #afa7bb 50%,
    #f4c0b3 100%
  );
  background-repeat: no-repeat;
  font-family: "poppins", sans-serif;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-family: "poppins", sans-serif;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 #121331;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0 solid rgba(255, 255, 255, 0.18);
  z-index: 1000;
}

a {
  text-decoration: none;
}

.title {
  margin-left: 50px;
  font-size: 3em;
  color: white;
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

.logo {
  padding: 10px;
}

.logo svg {
  height: 20%;
  width: 10%;
}

#navbar ul {
  flex: 1;
  text-align: right;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
}

#navbar ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

#navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  transition: width 0.3s;
}

#navbar ul li a:hover::after {
  width: 50%;
  border-radius: 5px;
}

.ord {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 12px;
  transition: ease 1s;
}

.ord:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

svg {
  height: 30px;
  width: 30px;
  margin: 0;
  padding-left: 5px;
}

.main {
  width: 100%;
  height: 100%;
}

.main .intro {
  display: grid;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.main .home-img {
  margin: 0;
  padding: 0;
}
.main .home-img img {
  max-height: 47.7%;
  width: 50;
  object-fit: cover;
}

.container {
  background-color: #0093e9;
  background-image: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%);

  padding: 15px 9%;
  padding-bottom: 100px;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  border-radius: 50%;
  height: 150px;
}

.container .box-container .box h3 {
  font-family: "poppins", sans-serif;

  color: #ffff;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  font-family: "poppins", sans-serif;
  color: #ffff;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
  transition: 0.75s;
}

.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: "poppins", sans-serif;
}

/* Modal Content */
.modal-content {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-blend-mode: overlay, hard-light, normal;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  border: 1px solid #aaaa;
  width: 55%;
  height: 90%;
  color: #fff;
  overflow: hidden;
}

/* The Close Button */
.close {
  color: #ffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.75s;
}

.close:hover,
.close:focus {
  color: #5d8a9bb4;
  text-decoration: none;
  cursor: pointer;
}

.img-place {
  display: flex;
  justify-content: left;
  align-items: center;
}

.hangs {
  position: initial;
  padding: 20px;
  margin: 0;
  height: auto;
  display: inline-block;
}

.hangs img {
  height: 10%;
  width: 50%;
  pointer-events: none;
  border-radius: 25px;
}

.item-info {
  position: relative;
  float: inline-end;
  margin: 20px 20px;
}

form h3 {
  margin: 10px;
}

.fbox input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #999;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-family: "poppins", sans-serif;
}

.fbox input[type="text"]:focus {
  width: 270px;
  border-color: #ffff;
  font-family: "poppins", sans-serif;
}

.fbox input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.fbox input[type="radio"]:checked {
  border: 6px solid #ffff;
}

select {
  font-family: "poppins", sans-serif;
  border: 2px solid #999;
  border-radius: 5px;
  transition: 0.2s all linear;
}
